[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apns2 = {git = "https://github.com/Pr0Ger/PyAPNs2.git",ref = "6f3b2a7456ef22c6aafc1467618f665130b0aeea"}
bugsnag = "==3.6.0"
gunicorn = "==19.9.0"
invoke = "==1.2.0"
peewee = "==2.7.4"
postgres = "==2.2.2"
psycopg2 = "==2.8.4"
psycopg2-binary = "==2.7.6.1"
redis = "==2.10.6"
rivr = "==0.6.0"
rivr-peewee = "==0.2.1"
rq = "==0.8.2"

[requires]
python_version = "2.7"

[scripts]
test = "invoke tests"
