[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
apns2 = "==0.7.1"
bugsnag = "==4.0.1"
gunicorn = "==20.0.4"
invoke = "==1.4.1"
peewee = "==3.13.3"
psycopg2 = "==2.8.6"
redis = "==3.5.3"
rivr = "==0.8.1"
rivr-peewee = "==0.2.1"
rq = "==1.5.2"

[requires]
python_version = "3.9"

[scripts]
test = "invoke tests"
