-e git+https://github.com/djacobs/PyAPNs@5bebbe33febfba72fb88d2f205675087ecc2ae0b#egg=apns-dev
click==3.3
gunicorn==18.0
invoke==0.9.0
peewee==2.6.1
postgres==2.1.2
psycopg2==2.5.3
redis==2.10.3
rivr==0.6.0
rivr-peewee==0.2.0
-e git+https://github.com/nvie/rq@7050549d918e914466d5fe41499fd9911d037a4a#egg=rq-master
